<section class="order-details-section">
    <div class="container mt-3">
        <h2 class="text-center">Order Details</h2>
        <div class="order-summary mt-3">
            <h4>Order ID: {{order._id}}</h4>
            {{#if admin}}
            <h4>User: {{order.user.name}}</h4> <!-- Display user's name -->
            {{/if}}
            <h4>Total Amount: ₹{{order.totalAmount}}</h4>
            <h4>Status: {{order.status}}</h4>
        </div>
        <div class="text-start mt-3 mb-2">
            <a href="/admin/orders" class="btn btn-secondary" aria-label="Back to Orders">Back to Orders</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead> 
                    <tr>
                        <th>No.</th>
                        <th>Item Name</th>
                        <th>Quantity</th> 
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead> 
                <tbody>
                    {{#each order.items}}
                    <tr>
                        <td>{{add @index 1}}</td>
                        <td>{{this.productDetails.name}}</td>
                         <td>{{this.quantity}}</td>
                        <td>₹{{this.productDetails.price}}</td>
                        <td>₹{{multiply this.quantity this.productDetails.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</section>

<style>
    .text-center {
        color: #ff9a47;
        font-size: clamp(2rem, 5vw, 2.5rem);
        text-align: center;
    }

    .order-summary h4 {
        font-size: clamp(1rem, 3vw, 1.2rem); 
        color: #444;
        margin-bottom: 0.5rem;
    }

    .btn-secondary {
        background-color: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .btn-secondary:hover {
        background-color: #0056b3;
        color: #fff;
    }

</style>